body{
    margin:0;
}
ul li {
    background: #cce5ff;
    color: darkblue;
    margin: 5px;
  }
  li{
    padding:4px;
  }
  body{
    background-image: url('https://img.freepik.com/free-vector/elegant-dark-background-with-golden-details_52683-32876.jpg');
  }
  h3{
    padding:4px;
    color:aliceblue
  }